*.hdf5
*.jpg
*.png
*.csv
*.swp
*.so
*.dSYM/
*.pyc
*.pk
/dist/
/plots/
/temp_backup/
/*.egg-info
_build
/build/
_static
_templates
_build
_static
_templates
sparseklearn/source/.DS_Store
.ipynb_checkpoints/
